*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: normal;
    color: #000;
    background: #fff;
}

p {
    margin-bottom: 1em;
}

p:last-child,
p:last-of-type {
    margin-bottom: 0;
}

body.menu-open {
    overflow: hidden;
}



.on-pc {
    display: block;
}

.on-mb {
    display: none;
}

.container {
    max-width: 1360px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    border-bottom: 1px solid #0000000D;
    position: relative;
}

.wrap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 15px;
}

.btn-default {
    color: #fff;
    border-radius: 54px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-default::before,
.btn-default::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: opacity .4s ease;
    z-index: 1;
    pointer-events: none;
}

.btn-default>* {
    position: relative;
    z-index: 2;
}

.btn-default::before {
    background: linear-gradient(90deg,
            #ff8b63 0%,
            #ff7b82 15%,
            #f35ca8 55%,
            #d95fd4 90%,
            #b962e8 100%);
}

.btn-default::after {
    background: linear-gradient(90deg,
            #b962e8 0%,
            #d95fd4 15%,
            #f35ca8 55%,
            #ff7b82 90%,
            #ff8b63 100%);
    opacity: 0;
}

.btn-default:hover::after {
    opacity: 1;
}

.site-logo {
    max-width: 182px;
}

.site-logo a {
    display: flex;
    align-items: center;
}

.site-logo img {
    vertical-align: middle;
}

.site-nav ul {
    display: flex;
    column-gap: 32px;
}

.site-nav li a {
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

.site-nav li {
    list-style: none;
}

.site-nav li.active a {
    opacity: 1;
}

.site-nav li a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #000;
    gap: 6px;
    text-decoration: none;
}

.site-nav li a img {
    max-width: 20px;
}

.site-nav li a:hover {
    opacity: 1;
}

.site-nav li.current-menu-item a {
    opacity: 1;
}

.sth-btn-mobile {
    display: none;
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #00000005;
    box-shadow:
        0px 0px 1px 0px rgba(2, 2, 3, 0.10),
        0px 1px 1px 0px rgba(2, 2, 3, 0.05),
        0px 2px 2px 0px rgba(2, 2, 3, 0.025),
        0px 4px 2px 0px rgba(2, 2, 3, 0.01);
}

.sth-btn-mobile span {
    display: block;
    width: 16px;
    height: 2px;
    background-color: #979797;
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

.sth-btn-mobile span:last-child {
    margin-bottom: 0;
}

.sth-btn-mobile.active span:first-child {
    transform: translateY(6px) rotate(45deg);
}

.sth-btn-mobile.active span:nth-child(2) {
    transform: rotate(-45deg);
}

.sth-btn-mobile.active span:last-child {
    opacity: 0;
}

.sth-right-header {
    display: flex;
    gap: 16px;
    align-items: center;
}



.site-nav-mobile li a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #000;
    gap: 8px;
    text-decoration: none;
    opacity: 0.4;
}

.site-nav-mobile li {
    margin-bottom: 32px;
    list-style: none;
}

.site-nav-mobile li:last-child {
    margin-bottom: 0;
}

.site-nav-mobile li a img {
    width: 24px;
}

.site-nav-mobile li.current-menu-item a {
    opacity: 1;
}

.wrap-header-mobile {
    padding: 32px 20px 24px;
    min-height: calc(100dvh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all .4s ease;
    pointer-events: none;
}

.wrap-header-mobile.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
}

.wrap-header-mobile .menu-privacy ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.wrap-header-mobile .menu-privacy ul li a {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.4;
}

.wrap-header-mobile .menu-privacy ul li a:hover {
    opacity: 1;
}

.site-logo-mobile {
    text-align: center;
    margin-top: 24px;
}

.site-logo-mobile img {
    max-width: 182px;
    width: 100%;
    margin: 0 auto;
}

.home-hero {
    background: url('../images/bg-1.png') no-repeat center / cover;
    padding: 50px 0;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.home-hero .container {
    max-width: 1432px;
}

.home-hero__heading {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.25;
    text-transform: uppercase;
    max-width: 60.48%;
}

.home-hero__image {
    position: absolute;
    right: 0px;
    top: 7%;
    width: 39.52%;
    z-index: 1;
}

.home-hero__image img {
    width: 100%;
}

.home-hero__image .img-mb {
    display: none;
}

.top-sites-sec {
    position: relative;
    z-index: 2;
    margin-top: -10px;
    padding-bottom: 32px;
}

.top-sites-sec .container {
    max-width: 1280px;
}

.top-sites__content {
    background-color: #fff;
    box-shadow: 0px 0px 200px 0px #2C2C2C12, 0px 0px 0px 10px #FFFFFF40;
    backdrop-filter: blur(200px);
    min-height: 204px;
    border-radius: 60px;
    -webkit-backdrop-filter: blur(200px);
    padding: 32px;

}

.top-sites__heading {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
}

.top-sites__more-plaforms {
    display: inline-flex;
    gap: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
}

.top-sites__more-plaforms img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-top: 2px;
}

.top-sites__content .top-sites__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 24px;
}

.top-sites__more-plaforms span {
    display: inline-block;
    background: linear-gradient(90deg, #FE7053 0%, #E663A6 50.48%, #D75BE5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.top-sites__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 16px;
}

.top-sites__list .item {
    position: relative;
    box-shadow: 0px 0px 20px 0px #541C411A;
    background: #FFFFFF01;
    padding: 16px;
    border-radius: 32px;

}

.top-sites__list .item-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.top-sites__list .item-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.top-sites__list .item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-sites__list .item-img {
    width: 54px;
    height: 54px;
    object-fit: contain;
    flex-shrink: 0;
    border-radius: 50%;
    filter:
        drop-shadow(0 0 1px rgba(2, 2, 3, 0.10)) drop-shadow(0 1px 1px rgba(2, 2, 3, 0.05)) drop-shadow(0 2px 2px rgba(2, 2, 3, 0.02)) drop-shadow(0 4px 2px rgba(2, 2, 3, 0.01));
}

.top-sites__list .item-title {
    font-weight: 800;
    font-size: 24px;
    text-transform: capitalize;
}

.top-sites__list .item-rating {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 3px 0;
}

.top-sites__list .item-rating .rating-number {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
}

.top-sites__list .item-rating .rating-stars {
    display: flex;
}

.top-sites__list .item-rating .rating-stars img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.top-sites__list .item-btn {
    padding: 4px 34px;
    font-size: 14px;
    line-height: 20px;
}

.top-sites__list .item-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(91.83deg, #1872EC -65.41%, #30C0F0 -11.77%, #EC1886 41.87%, #DB05E1 95.51%, #1872EC 149.15%);
    padding: 3px 8px;
    border-radius: 999px;
    z-index: 2;
}

.top-sites__more-plaforms-mb {
    text-align: center;
    margin-top: 16px;
}

.all-sites-sec {
    padding-bottom: 80px;
}

.all-sites-sec .container {
    max-width: 1280px;
}

.all-sites__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 16px;
}

.all-sites__updatetime {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    opacity: 0.4;
}

.all-sites__updatetime img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.all-sites__disclosure {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    opacity: 0.2;
}

.all-sites__disclosure span {
    position: relative;
    padding: 0 10px;
}

.all-sites__disclosure span::before {
    content: "";
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 60%;
    background-color: #000000;
}

.all-sites__disclosure span:first-child {
    padding-left: 0;
}

.all-sites__disclosure span:last-child {
    padding-right: 0;
}

.all-sites__disclosure span:last-child::before {
    display: none;
}


.all-sites-content__tabs {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    padding: 14px 0;
    margin-bottom: 16px;

    overflow-x: auto;
    overflow-y: hidden;

    white-space: nowrap;
}

.all-sites-content__tabs button {
    border: 2px solid transparent;
    background: transparent;
    padding: 4px 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #000000;
    transition: all 0.3s ease-in-out;
    border-radius: 16px;
}

.all-sites-content__tabs button:hover {
    color: #EB188A;
}

.all-sites-content__tabs button.active {
    color: #EB188A;
    border-color: #EB188A;
    background-color: #FDEDFC;
}


.all-sites-content__list {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.site-card {
    position: relative;
    align-items: center;
    border-radius: 56px;
}

.site-card__inner {
    display: grid;
    grid-template-columns: 180px 1fr 200px 250px;
    align-items: center;
    gap: 57px;
    border-radius: inherit;
    padding: 16px 32px;
    background: #FFFFFF01;
    box-shadow: 0px 0px 20px 0px #541C411A;

}

.site-card.site-card-highlight {
    padding: 4px;
    background: linear-gradient(270deg, #FE7053 0%, #E663A6 50.48%, #D75BE5 100%);

}

.site-card.site-card-highlight .site-card__inner {
    background-color: #FFECFF;
    box-shadow: 0px 4px 20px 0px #541C411A;
}


.site-card__badges {
    position: absolute;
    top: -8px;
    left: 64px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    z-index: 2;
    white-space: nowrap;
}

.site-card__badges .badge {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    border-radius: 999px;
    color: #fff;
    background-color: #287BFF;
}



.site-card__logo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.site-card__logo .img-logo {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 6px;
    filter:
        drop-shadow(0 0 1px rgba(2, 2, 3, 0.10)) drop-shadow(0 1px 1px rgba(2, 2, 3, 0.05)) drop-shadow(0 2px 2px rgba(2, 2, 3, 0.02)) drop-shadow(0 4px 2px rgba(2, 2, 3, 0.01));
}

.site-card__logo .logo-name {
    font-weight: 800;
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.site-card__stars {
    display: flex;
}

.site-card__stars img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}


.site-card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 0;
}

.site-card__title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.site-card__title .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    padding: 6px;
    flex-shrink: 0;
}

.site-card__title .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.site-card__title .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

.site-card__features {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-card__features li {
    position: relative;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(30, 30, 36, 0.6);
    padding: 1px 0 1px 26px;
}

.site-card__features li:last-child {
    margin-bottom: 0;
}

.site-card__features li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url('../images/check-icon.svg') no-repeat center / contain;
}




.site-card__score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-card__score-mb {
    display: none;
}

.score-circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.score-circle--1 {
    width: 100%;
    aspect-ratio: 1;
    background: rgba(255, 137, 92, 0.02);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.score-circle--2 {
    width: calc(100% - 50px);
    aspect-ratio: 1;
    background: rgba(248, 117, 153, 0.04);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.score-circle--3 {
    width: calc(100% - 50px);
    aspect-ratio: 1;
    background: #fff;
}


.site-card__score span {
    font-weight: 800;
    font-size: 46px;
    text-transform: uppercase;
    background: linear-gradient(90deg,
            #ff8b63 0%,
            #ff7b82 15%,
            #f35ca8 55%,
            #d95fd4 90%,
            #b962e8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.site-card.site-card-highlight .score-circle--1 {
    background: rgba(255, 137, 92, 0.04);
}

.site-card.site-card-highlight .score-circle--2 {
    background: rgba(248, 117, 153, 0.05);
}

.site-card__action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.site-card__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    color: #43323B;
}

.site-card__button {
    font-size: 20px;
    line-height: 25px;
    padding: 13.5px 24px;
    width: 100%;
}

.gambling-sites-overview-sec {
    padding-bottom: 80px;
}

.gambling-sites-overview-sec .container {
    max-width: 1280px;
}

.gambling-sites-overview-sec .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    padding: 6px 0;
    margin-bottom: 24px;

}

.gambling-sites-overview-sec .desc {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

.gambling-sites-overview-sec .overview-contents {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.faq-section {
    background-color: #F8F5F3;
    padding: 40px 0 80px;
}

.faq-section .container {
    max-width: 1280px;
}

.faq-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 6px;
    margin-bottom: 28px;
}

.faq-subheading {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    background: radial-gradient(52.82% 244.64% at 50% 50%, #FF3838 0%, #FA7603 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.faq-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    padding: 6px 0;
    text-transform: capitalize;
}

.faq-desc {
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.4);
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 1000px;
    margin: 0 auto;
}

.faq-item {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.faq-question {
    width: 100%;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

}

.faq-question .faq-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.faq-toggle {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #F1F3F9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.faq-toggle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    transition: opacity .25s ease;
}

.faq-open {
    opacity: 1;
    width: 16px;
}

.faq-close {
    opacity: 0;
}

.faq-item.active .faq-open {
    opacity: 0;
}

.faq-item.active .faq-close {
    opacity: 1;
}

.faq-item.active .faq-toggle {
    background: radial-gradient(52.82% 244.64% at 50% 50%, #FF3838 0%, #FA7603 100%);

}

.faq-answer {
    display: none;
    padding: 0 24px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.footer-site {
    background: #000;
    min-height: 356px;
    overflow: hidden;
    padding: 64px 0;
    color: #fff;
}

.footer-site .footer-deco {
    position: absolute;
    top: -32px;
    right: 0;
    pointer-events: none;
    display: flex;
}

.footer-inner {
    max-width: 1512px;
    margin: 0 auto;
    position: relative;
}

.footer-site .footer-deco img {
    width: 576px;
}

.footer-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}

.footer-left {
    width: calc(65% - 24px);
}

.footer-right {
    width: calc(35% - 24px);
}

.footer-right {
    align-items: end;
}

.footer-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.footer-desc {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 16px;
}

.footer-site .footer-btn {
    padding: 8px 32px;
    font-size: 16px;
    line-height: 20px;
}

.footer-menus ul {
    list-style: none;
    display: flex;
    gap: 16px 32px;
    flex-wrap: wrap;
}

.footer-menus ul li a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    gap: 6px;
    text-decoration: none;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

.footer-menus ul li a img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.footer-menus ul li a:hover {
    opacity: 1;
}

.footer-menus ul li.current-menu-item a {
    opacity: 1;
}

.footer-links ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.footer-links ul li a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

.footer-links ul li a:hover {
    opacity: 1;
}

.footer-logo img {
    height: 24px;
    width: auto;
}

/* Promo Codes Page */
.promo-hero {
    padding: 40px 0;
}

.promo-hero .container {
    max-width: 1280px;
}

.promo-hero__content {
    text-align: center;
}

.promo-hero__heading {
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    text-transform: capitalize;
}

.promo-hero__desc {
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}

/* Blog Page */
.blog-hero {
    padding: 40px 0 80px;
}

.blog-hero .container {
    max-width: 1280px;
}

.blog-hero__header {
    text-align: center;
    margin-bottom: 40px;
}

.blog-hero__heading span {
    font-size: 52px;
    line-height: 60px;
    background: linear-gradient(90deg,
            #ff8b63 0%,
            #ff7b82 15%,
            #f35ca8 55%,
            #d95fd4 90%,
            #b962e8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 10px;
    display: block;
}

.blog-hero__heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    text-transform: capitalize;
}

.blog-hero__featured {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
}

.blog-hero__featured .left {
    width: calc(49.68% - 16px);
}

.blog-hero__featured .right {
    width: calc(50.32% - 16px);
    padding: 16px;
}

.blog-hero__featured .blog-img {
    aspect-ratio: 600/330;
    overflow: hidden;
    border-radius: 16px;
    display: block;
    transition: all 0.4s ease;
}

.blog-hero__featured .blog-img:hover {
    transform: scale(1.02);
}

.blog-hero__featured .blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-hero__featured .blog-infos {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 12px;
}

.blog-hero__featured .blog-infos span {
    display: inline-block;
}

.blog-hero__featured .blog-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 6px;
}



.blog-hero__featured .blog-title:hover a {
    color: #f35ca8;
}

.blog-hero__featured .blog-excerpt {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.4);
}

.blog-hero__featured .blog-author {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}

.blog-hero__featured .blog-author img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.blog-hero__featured .blog-author__info {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.blog-hero__featured .blog-author__info span {
    color: #666666;
    font-weight: 400;
}

.blog-list-sec {
    padding-bottom: 80px;
}

.blog-list-sec .container {
    max-width: 1280px;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}

.blog-item .item-img {
    aspect-ratio: 392/220;
    display: block;
    overflow: hidden;
    border-radius: 32px;
    transition: all 0.3s ease;
}

.blog-item .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item:hover .item-img {
    transform: scale(1.02);
}

.blog-item .item-content {
    padding: 16px;
}

.blog-item .item-title {
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s ease;
    line-height: 24px;
}

.blog-item .item-title:hover a {
    color: #f35ca8;
}

.blog-item .item-infos {
    margin-top: 12px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.blog-pagination {
    margin-top: 32px;
}

.blog-pagination .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-pagination .page-numbers li {
    margin: 0;
}

.blog-pagination a.page-numbers,
.blog-pagination span.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 36px;
    height: 36px;
    border-radius: 999px;
    color: #222;
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    background-color: #E6E6E6;
    color: rgba(0, 0, 0, 0.2);

}

.blog-pagination a.page-numbers:hover {
    color: #000;

}

.blog-pagination .current {
    color: #000 !important;
}

.blog-pagination .page-numbers .prev,
.blog-pagination .page-numbers .next {
    padding: 8px 16px;
    border-radius: 54px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background-color: #000000;
    color: #FFFFFF;
}

.blog-pagination .page-numbers .prev {
    margin-right: 6px;
}

.blog-pagination .page-numbers .next {
    margin-left: 6px;
}

.blog-pagination .page-numbers .prev:hover,
.blog-pagination .page-numbers .next:hover {
    background-color: #E6E6E6;
}

.blog-pagination .page-numbers.current,
.blog-pagination .page-numbers.disabled {
    cursor: default;
    pointer-events: none;
    color: #C4C4C4;
    background-color: #F7F7F7;
}

@media screen and (max-width: 1200px) {
    .top-sites__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .site-card__inner {
        gap: 32px;
        grid-template-columns: 150px 1fr 180px 180px;
        padding: 16px 24px;
    }

    .site-card__score span {
        font-size: 36px;
    }
}

@media screen and (max-width: 1023px) {
    .sth-btn-mobile {
        display: flex;
    }

    .site-nav {
        display: none;
    }

    .home-hero__heading {
        max-width: 50%;
        font-size: 40px;
    }

    .home-hero__image {
        width: 50%;
        top: auto;
        bottom: 0;
        right: -10px;
    }

    .top-sites__list .item-rating {
        flex-direction: column;
    }

    .top-sites__list .item-btn {
        padding: 4px 20px;
    }

    .top-sites__list .item-img {
        width: 52px;
        height: 52px;
    }

    .top-sites-sec {
        padding-bottom: 80px;
    }

    .site-card__score-pc {
        display: none;
    }

    .site-card__score-mb {
        display: flex;
        width: 60px;
        height: 60px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.02);
        box-shadow: 0px 0px 1px 0px rgba(2, 2, 3, 0.1),
            0px 1px 1px 0px rgba(2, 2, 3, 0.05),
            0px 2px 2px 0px rgba(2, 2, 3, 0.03),
            0px 4px 2px 0px rgba(2, 2, 3, 0.01);
    }

    .site-card.site-card-highlight .site-card__score-mb {
        border-color: transparent;
        box-shadow: none;

    }

    .site-card__score-mb span {
        font-size: 24px;
    }

    .site-card__inner {
        grid-template-columns: 1fr;
        padding: 20px 32px;
    }

    .site-card__logo {
        flex-direction: row;
        gap: 24px;
        padding-top: 12px;
    }

    .site-card__logo .img-logo {
        margin-bottom: 0;
    }

    .site-card__content {
        padding: 0;
    }

    .all-sites__header {
        text-align: center;
        justify-content: center;
        gap: 24px;
    }

    .all-sites__disclosure span {
        padding: 0 0.25em 0 0;
    }

    .all-sites__disclosure span::before {
        display: none;
    }

    .all-sites-content__tabs {
        justify-content: stretch;
    }

    .gambling-sites-overview-sec .title {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .faq-heading {
        font-size: 34px;
    }

    .footer-menus ul {
        gap: 20px;
    }

    /* Promo Codes PAGE */
    .promo-hero__heading {
        font-size: 48px;
        line-height: 1.25;
    }

    /* BLOG PAGE */
    .blog-hero__heading,
    .blog-hero__heading span {
        font-size: 48px;
        line-height: 1.25;
        margin-bottom: 0;
    }


    .blog-hero__featured .right {
        padding: 0;
    }

    .blog-hero__featured .blog-title {
        font-size: 30px;
    }

    .blog-hero__featured .blog-author {
        margin-top: 24px;
    }

    .blog-list {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (max-width: 767px) {
    .on-pc {
        display: none;
    }

    .on-mb {
        display: block;
    }

    .wrap-header-mobile {
        min-height: calc(100dvh - 65px);
    }

    .site-logo {
        max-width: 152px;
    }

    .sth-btn-mobile {
        width: 34px;
        height: 34px;
    }

    .sth-right-header {
        gap: 10px;
    }

    .btn-default {
        font-size: 12px;
        padding: 7.5px 12px;
        line-height: normal;
    }

    .home-hero {
        padding-top: 16px;
        min-height: 372px;
        background-image: url('../images/bg-2.png');
    }

    .home-hero .container {
        padding: 0 16px;
    }

    .home-hero__heading {
        max-width: 268px;
        font-size: 32px;
    }

    .home-hero__image {
        width: 417px;
        bottom: 52px;
        right: -133px;
    }

    .home-hero__image .img-mb {
        display: block;
    }

    .home-hero__image .img-pc {
        display: none;
    }

    .top-sites__list {
        grid-template-columns: 1fr;
    }

    .top-sites__content {
        padding: 20px;
        border-radius: 32px;
    }

    .top-sites-sec .container {
        padding: 0;
    }

    .top-sites__content .top-sites__header {
        text-align: center;
        justify-content: center;
    }

    .top-sites__heading {
        font-size: 20px;
    }

    .top-sites-sec {
        margin-top: -158px;
        padding-bottom: 60px;
    }

    .top-sites__list .item {
        padding: 16px;
    }

    .top-sites__list .item-btn {
        width: 100%;
        margin-top: 10px;
        padding: 8px 24px;
    }

    .top-sites__list .item-label {
        font-size: 12px;
        line-height: 14px;
        top: -6px;
    }

    .all-sites__updatetime {
        font-size: 14px;
        line-height: 18px;
    }

    .all-sites__updatetime img {
        width: 18px;
        height: 18px;
    }

    .all-sites__header {
        gap: 12px;
    }

    .all-sites__disclosure {
        font-size: 12px;
        line-height: 15px;
    }



    .all-sites-content__tabs button {
        padding: 4px 10px;
        gap: 6px;
    }

    .site-card {
        border-radius: 40px;
    }

    .site-card__badges {
        flex-direction: column;
        gap: 6px;
        left: 50%;
        transform: translateX(-50%);
        top: -36px;
        align-items: center;
    }

    .site-card__badges .badge {
        font-size: 12px;
        line-height: 14px;
    }

    .site-card__logo .img-logo {
        width: 62px;
        height: 62px;
    }

    .site-card__logo {
        gap: 16px;
        padding-top: 0;
    }

    .site-card__inner {
        padding: 16px 20px;
        gap: 24px;
    }

    .site-card__logo .logo-name {
        font-size: 22px;
    }

    .site-card__stars img {
        width: 22px;
        height: 22px;
    }

    .site-card__score-mb {
        width: 46px;
        height: 46px;
    }

    .site-card__score-mb span {
        font-size: 21.16px;
    }

    .site-card__title .title {
        font-size: 14px;
        line-height: 20px;
    }

    .site-card__title .icon {
        width: 32px;
        height: 32px;
    }

    .site-card__features li {
        font-size: 12px;
        padding: 2.5px 0 2.5px 26px;
    }

    .site-card__button {
        font-size: 20px;
        line-height: 25px;
        padding: 13.5px 24px;
    }

    .all-sites-sec {
        padding-bottom: 60px;
    }

    .all-sites-content__list {
        gap: 32px;
    }

    .site-card.site-card-highlight {
        margin-top: 36px;
    }

    .gambling-sites-overview-sec .title {
        font-size: 32px;
        line-height: 1.375;
        padding: 0;
        margin-bottom: 16px;
    }

    .gambling-sites-overview-sec .desc {
        font-size: 14px;
        line-height: 20px;
    }

    .gambling-sites-overview-sec {
        padding-bottom: 60px;
    }

    .faq-section {
        padding: 20px 0 60px;
    }

    .faq-heading {
        font-size: 32px;
        line-height: 44px;
        padding: 0;
    }

    .faq-desc {
        font-size: 16px;
        line-height: 22px;
    }

    .faq-header {
        margin-bottom: 24px;
    }

    .faq-question {
        padding: 20px;
    }

    .faq-answer {
        padding: 0 20px 20px;
        font-size: 12px;
        line-height: 18px;
    }

    .faq-question .faq-title {
        font-size: 16px;
        line-height: 22px;
    }

    .footer-left,
    .footer-right {
        gap: 24px;
        width: 100%;
    }


    .footer-site {
        padding: 24px 0;
    }

    .footer-title {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 12px;
    }

    .footer-desc {
        font-size: 14px;
        line-height: 20px;
    }

    .footer-btn {
        width: 100%;
    }

    .footer-menus ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    .footer-content {
        gap: 80px;
    }

    .footer-right {
        align-items: center;
    }

    .footer-site .footer-deco {
        top: 64px;
        left: -50px;
        right: -50px;
    }

    .footer-site .footer-deco img {
        width: 100%;
    }

    /* Promo Codes PAGE */
    .promo-hero {
        padding: 32px 0;
    }

    .promo-hero__heading {
        font-size: 36px;
    }

    .promo-hero__desc {
        font-size: 16px;
        line-height: 20px;
    }

    /* BLOG PAGE */
    .blog-hero {
        padding: 32px 0 60px;
    }

    .blog-hero__heading,
    .blog-hero__heading span {
        font-size: 36px;
    }

    .blog-hero__header {
        margin-bottom: 32px;
    }

    .blog-hero__featured {
        gap: 16px;
    }

    .blog-hero__featured .left,
    .blog-hero__featured .right {
        width: 100%;
    }

    .blog-hero__featured .blog-img {
        aspect-ratio: 335/190;
    }

    .blog-hero__featured .blog-title {
        font-size: 24px;
    }

    .blog-hero__featured .blog-excerpt {
        font-size: 14px;
        line-height: 20px;
    }

    .blog-hero__featured .blog-author img {
        width: 36px;
        height: 36px;
    }

    .blog-hero__featured .blog-author__info {
        font-size: 14px;
        line-height: 18px;
    }

    .blog-list {
        grid-template-columns: 1fr;
    }

    .blog-pagination .page-numbers .prev,
    .blog-pagination .page-numbers .next {
        font-size: 12px;
        line-height: 14px;
        padding: 7px 16px;
        height: auto;
    }

    .blog-pagination a.page-numbers,
    .blog-pagination span.page-numbers {
        min-width: 32px;
        height: 32px;
        font-size: 18px;
    }

    .blog-item .item-content {
        padding: 16px 0 0 0;
    }

    .blog-item .item-img {
        aspect-ratio: 335/190;
    }

    .blog-list-sec {
        padding-bottom: 60px;
    }
}